section {
    background-image: url(/images/bg_landing_scrapbook_texture.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: border-box;
}

.landing {
    .inner {
        
    }
}